* {

  box-sizing: border-box;
}
html, body {

  height: 100%;
  width: 100%;
}
body {

  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}
main {
  height: 100%;
}
section {

  height: 100%;
  padding: 4em 2em;
  position: relative;
  width: 100%;
}

header {

  padding: 5em 2em;
  position: fixed;
  width: 100%;
  z-index: 100;
}

nav {

  float: right;
  text-align: right;
  width: 70%;
}
ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li {

  border-right: 0.03125em solid rgba(255,255,255,1);
  display: inline-block;
  padding: 0.5em 1em;
}
ul li a {

  color: rgba(255,255,255, 1);
   font-size: 0.95rem;
   font-weight: 500;
   letter-spacing: 0.3rem;
   padding: 0.5em 1em;
   text-decoration: none;
   text-transform: uppercase;
   transition: all 1s;
}
ul li a:hover, ul li a:active {
  color: rgba(0, 210, 100, 1);
}
ul li:nth-last-of-type(1){
  border-right: none;
}


}
#home h2 {
  color: rgba(255, 255, 255, 1);
  font-family: 'Open Sans Condensed', sans-serif;

  font-size: 2.5rem;
  margin: 0;
  position: relative;
  text-transform: uppercase;
  top: 55%;
}

h3{
  color:rgba(0,0,0,.6);
  font-family: 'Open Sans', sans-serif;
  font-size:3.5rem ;
  margin: 0.2em 0;
  text-transform: uppercase;
}
h4 {
  color: rgba(9, 10, 10);
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2rem;
  margin: 0.5em 0;
  text-transform: uppercase;
}

footer {
  background-color: rgba(222, 244, 245);
  border-top: 0.5em solid rgba(25, 122, 218);
  color: rgba( 11, 12, 12 );
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.4em 1em;
  text-align: center;
  width: 100%;
}
